<h2>User Details</h2>

      <h3>First Name: <%= @user.firstname %></h3>
      <h3>Last Name: <%= @user.lastname %></h3>
      <h3>Email: <%= @user.email %></h3>
      <h3>Created On: <%= @user.created_at %></h3>
      <h3>Updated At: <%= @user.updated_at %></h3>
      <h3>Admin: <%= @user.admin %></h3>
  